* {
    margin: 0;
    padding: 0;

}

.main {

    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(R.jpg);
    background-position: center;
    background-size: cover;
    height: 900px;

}

.navbar {

    width: 1200px;
    height: 75px;
    margin: auto;

}

.icon {

    width: 200px;
    float: left;
    height: 70px;
}

.logo {

    color: aquamarine;
    font-size: 42px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 30px;
    float: left;
    padding-top: 20px;


}

.menu {
    width: 400px;
    float: left;
    height: 70px;

}

ul {

    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

ul li {
    list-style: none;
    margin-left: 60px;
    margin-top: 35px;
    font-size: 22px;

}

ul li a {

    text-decoration: none;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    transition: 0.7s ease-in-out;

}

ul li a:hover {
    color: aqua;

}

.search {

   width: 330px;
    float: left;
    margin-left: 270px;

    
}

.srch {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid antiquewhite;
    margin-top: 30px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    
}

.btn {

    width: 100px;
    height: 40px;
    background-color: aquamarine;
    border: 2px solid aquamarine;
    margin-top: 30px;
    color: green;
    font-size: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 10px;
}

.btn:focus {
    outline: none;

}

.srch:focus {
    outline: none;

}

.content {
    width: 1200px;
   height: auto;
   margin-left: 700px;
   color: floralwhite;
   position: center; 
}

.content .par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1.8px;
    line-height: 20px;
}

.content h1 {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 10%;
    letter-spacing: 2px;
}

.content .cn {
    width: 160px;
    height: 40px;
    background: rgb(65, 248, 187);
    border: none;
    margin-bottom: 8px;
    margin-left: 300px;
    font-size: 18px;;
     border-radius: 10px;
     cursor: pointer;
;

}

.content .cn a {
    text-decoration: none;
    color: #fff;
    transition: .3s ease;
}

.content p {
font-size: 38px;
padding-top: 38px;
margin-left: 30px;

}

.form {
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba*(0,0,0,0.8)50%, rgba*(0,0,0,0.8)50%);
    position: relative;
    top: -300px;
    left: 800px;
    border-radius: 10px;
    padding: 25px;
    
}

.form h2 {
    width: 220px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: green;
    font-size: 20px;
    background-color: #fff;
    border: 10PX;
    margin: 2px;
    padding: 8px;
    letter-spacing: 1px;
    margin-top: 30px;
    


}

.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid aqua;
    border-top: none;
    border-right: none;
    border-left: none;
    color: green;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    margin-top: 30px;
        
}

.form input:focus {
    outline: none;

}

.placeholder {
    color: #fff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btnn {
    width: 240px;
    height: 40px;
    background: green;
    border:none


}

.liw 